.dropdown {
  width: 100%;
  position: relative;
  user-select: none;
}

.dropdown__button {
  font-family: Roboto;
  margin-left: 5px;
  color: #c73153;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.dropdown__button::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  border: 5px solid transparent;
  border-top: 5px solid #c73153;
  top: 4.5px;
  right: -12px;
}

.dropdown__button.opened::after {
  transform: rotate(180deg);
  top: 0;
}

.dropdown__content {
  position: absolute;
  top: 110%;
  padding: 3px;
  border-radius: 8px;
  left: 0;
  width: fit-content;
  box-sizing: border-box;
  z-index: 1;
  background-color: white;
  max-height: 275px;
  overflow: auto;
  scroll-padding-left: -10px;
  box-shadow: 0px 0px 1px grey;
}

.dropdown__content::-webkit-scrollbar {
  width: 5px;
}

.dropdown__content::-webkit-scrollbar-thumb {
  background-color: #acadb9;
  border-radius: 5px;
}

.dropdown__content::-webkit-scrollbar-track {
  width: 10px;
}

.dropdown__item {
  padding: 6px;
  font-family: Inter;
  color: #c73153;
  font-size: 14px;
  border-radius: 8px;
  transition: 0.05s;
  cursor: pointer;
  margin: 1px 0;
}

.dropdown__item.active {
  background-color: #c73153;
  color: white;
  pointer-events: none;
}

.dropdown__item:hover {
  background-color: #c7315311;
}

@media screen and (max-width: 440px) {
  .dropdown__button {
    padding: 6px 10px;
    font-size: 12px;
  }
  .dropdown__item {
    padding: 6px;
    font-size: 12px;
  }
}
