.loader {
  min-width: 70px;
  min-height: 70px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 80%;
  margin: auto;
  display: block;
  animation: rotate 3s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
