.cards__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 870px;
  margin: 50px auto 0;
  gap: 15px;
}

.cards__ul {
  display: grid;
  max-width: 900px;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 50px auto 0;
}
