.name {
  font-size: 16px;
  text-transform: uppercase;
  color: #4f4f4f;
  position: relative;
  width: fit-content;
  pointer-events: none;
}

.name::after {
  content: '';
  width: 0;
  border: 5px solid transparent;
  border-top: 5px solid #4f4f4f;
  position: absolute;
  top: 8px;
  border-bottom: 0;
  right: -17px;
}

.name.opened::after {
  border-bottom: 5px solid #4f4f4f;
  position: absolute;
  border-top: 0;
  top: 8px;
}

.box {
  overflow: hidden;
  margin-top: 20px;
  height: 0;
  transition: height 0.3s;
}

.box * {
  transition: 0.3s;
}

.box.active * {
  display: block;
}

.name__block {
  cursor: pointer;
}
